@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    overflow-x: hidden;
    color: #444;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


.subscribe-box {
    margin-top: 18px;
    margin-right:18px;
}

    .subscribe-box input[type="text"] {
        color: #444;
        height:40px;
        margin-bottom:5px;
        font-size: 12px;
        padding: 20px 20px 20px 0px;
        border: none;
        background: #fff;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        outline: none;
    }

    .subscribe-box input[type="submit"] {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        background: #ff4f57;
        text-transform: uppercase;
        border: none;
        padding: 7px 16px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
    }

.cardFooter {
    margin-right: 10px;
    position: fixed;
    bottom: 0;
    width: inherit;
    background: #3A0647;
}

/*button*/

.btn {
    padding: 12px 30px;
    color: #fff;
    position: relative;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    border: none;
}

.btn-common:hover,
.btn-common:focus {
    color: #fff;
    background: #ea4249;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

.btn-search-icon:hover {
    opacity: 0.8;
}

.btn-common {
    background-color: #ff4f57;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
}

.btn-border {
    background: #fff;
    color: #ff4f57;
    text-transform: uppercase;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

    .btn-border:hover {
        color: #ff4f57;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    }

.btn-search {
    padding: 11px;
}

.btn-lg {
    padding: 15px 30px;
    font-weight: 700;
    letter-spacing: 0.3px;
    border-radius: 4px;
}

.btn-sm {
    font-size: 14px;
    padding: 7px 18px;
    line-height: 1.5;
    margin-bottom: 5px;
    border: none;
    text-transform: capitalize;
}

.btn.btn-sm,
.btn-group-sm .btn,
.navbar .navbar-nav > li > a.btn.btn-sm,
.btn-group-sm .navbar .navbar-nav > li > a.btn {
    padding: 5px 20px;
    font-size: 13px;
}

.btn-xs {
    border-radius: 0px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}

.btn-rm {
    padding: 10px 21px;
    text-transform: uppercase;
}

.btn-post {
    padding: 10px 16px;
}

.btn-search-icon:hover {
    opacity: 0.8;
}

.btn-search-icon {
    padding: 14px 22px;
    height: 55px;
    font-size: 22px;
    background: #ff4f57;
    color: #fff;
    width: 65px;
    text-align: center;
}

    .btn-search-icon:hover {
        color: #fff;
    }

.img{
    margin:10px;
    width:inherit;
}

.block-title {
    color: wheat;
}

.page-background-class {
    background-image: url(/bg-intro.jpg)
}

.search-container {
    padding: 100px 0;
    display: inline-block;
    width: 100%;
    position: relative;
}

    .search-container .form-control {
        padding: 0 40px;
        border: 1px solid transparent;
    }

    .search-container .form-group {
        margin-bottom: 0px !important;
    }

    .search-container h2 {
        font-size: 30px;
        color: #ff4f57;
        font-weight: 400;
        margin-bottom: 30px;
        letter-spacing: -1px;
    }
#content {
    padding: 80px 0;
}
    .search-container h1 {
        font-weight: 900;
        font-size: 50px;
        letter-spacing: 1px;
        line-height: 30px;
        color:white;
    }

    .search-container .content {
        background: rgba(255, 255, 255, 0.1);
        padding: 10px;
        margin-bottom: 30px;
    }

.popular-jobs a {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
    color: #fff;
    margin: 0 5px;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    .popular-jobs a:hover {
        background: #ff4f57;
        border-color: #ff4f57;
        color: #fff;
    }
.form-group {
    margin-bottom: 20px;
    position: relative;
}

    .form-group i {
        position: absolute;
        top: 20px;
        color: #888;
        left: 12px;
        font-size: 18px;
    }



.form-control {
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
    color: #444;
    display: block;
    height: 55px;
    padding: 15px 10px;
    width: 100%;
}

    .form-control:focus {
        box-shadow: none;
    }
.search-category .search-category-container {
    border: none;
    padding: 0;
    position: relative;
    border-radius: 0;
    border: none !important;
    background: #fff;
}

.styled-select {
    position: relative;
    width: 100%;
    background: #fff;
}

    .styled-select:before {
        content: "\e651";
        float: left;
        position: absolute;
        font-family: themify;
        color: #666;
        left: 2px;
        padding: 13px;
        z-index: 999;
    }

    .styled-select > select {
        background: transparent;
        font-size: 14px;
        line-height: 18px;
        border: 0;
        border-radius: 0;
        height: 44px;
    }

.search-category select {
    padding: 12px;
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

select > opation:focus {
    box-shadow: none;
    border: none;
}

.dropdown-product select.balck {
    background-color: #666;
}

.dropdown-product select.option3 {
    border-radius: 10px 0;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted transparent !important;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0px !important;
}
select > opation:focus {
    box-shadow: none;
    border: none;
}

.dropdown-product select.balck {
    background-color: #666;
}

.dropdown-product select.option3 {
    border-radius: 10px 0;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted transparent !important;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0px !important;
}

.btn-search-icon:hover {
    opacity: 0.8;
}

.btn-search-icon {
    padding: 14px 22px;
    height: 55px;
    font-size: 22px;
    background: #ff4f57;
    color: #fff;
    width: 65px;
    text-align: center;
}

    .btn-search-icon:hover {
        color: #fff;
    }


 /*for featured Jobs section*/

.section {
    padding: 60px 0;
}

.section-title {
    font-size: 36px;
    padding: 0px 0px 30px;
    font-weight: 900;
}
.featured-jobs .featured-item {
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 0px;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    cursor: pointer;
    -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
    -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
    transition: transform 0.2s linear, box-shadow 0.2s linear;
}

    .featured-jobs .featured-item:hover {
        box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
        -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
        -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, 0.13);
    }

.featured-jobs .featured-wrap {
    background: #fff;
    width: 100%;
    padding: 8px;
}

.featured-jobs .item-thumb {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

    .featured-jobs .item-thumb a {
        display: block;
    }

    .featured-jobs .item-thumb:hover {
        opacity: 0.9;
    }

.featured-jobs .item-body {
    padding: 20px 12px 10px;
    width: 100%;
}

    .featured-jobs .item-body .job-title {
        margin: 0 0 4px 0;
    }

        .featured-jobs .item-body .job-title a {
            font-size: 16px;
            text-transform: uppercase;
        }

            .featured-jobs .item-body .job-title a:hover {
                color: #ff4f57;
            }

    .featured-jobs .item-body .adderess {
        color: #999;
        font-size: 14px;
        line-height: 22px;
        margin: 0;
    }

.featured-jobs .item-foot {
    background: #fff;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding: 14px 20px;
    position: relative;
}

    .featured-jobs .item-foot a {
        color: #999;
    }

        .featured-jobs .item-foot a:hover {
            color: #ff4f57;
        }

    .featured-jobs .item-foot span {
        color: #999;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        margin-right: 10px;
    }

        .featured-jobs .item-foot span i {
            margin-right: 5px;
        }

    .featured-jobs .item-foot .view-iocn {
        position: absolute;
        top: -24px;
        right: 24px;
    }

        .featured-jobs .item-foot .view-iocn a {
            width: 48px;
            display: block;
            background: #ff4f57;
            color: #fff;
            font-size: 20px;
            height: 48px;
            text-align: center;
            line-height: 50px;
            border-radius: 50px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        }

/*for loading*/
#loading {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    margin-top: 0px;
    top: 0px;
}

    #loading #loading-center {
        width: 100%;
        height: 100%;
        position: relative;
    }

    #loading #loading-center-absolute {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 150px;
        width: 150px;
        margin-top: -75px;
        margin-left: -75px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #loading .object {
        width: 20px;
        height: 20px;
        background-color: #ff4f57;
        position: absolute;
        left: 65px;
        top: 65px;
        border-radius: 500px;
    }

        #loading .object:nth-child(2n+0) {
            margin-right: 0px;
        }

    #loading #object_one {
        -webkit-animation: object_one 2s infinite;
        animation: object_one 2s infinite;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    #loading #object_two {
        -webkit-animation: object_two 2s infinite;
        animation: object_two 2s infinite;
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    #loading #object_three {
        -webkit-animation: object_three 2s infinite;
        animation: object_three 2s infinite;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    #loading #object_four {
        -webkit-animation: object_four 2s infinite;
        animation: object_four 2s infinite;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
    }

    #loading #object_five {
        -webkit-animation: object_five 2s infinite;
        animation: object_five 2s infinite;
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    #loading #object_six {
        -webkit-animation: object_six 2s infinite;
        animation: object_six 2s infinite;
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
    }

    #loading #object_seven {
        -webkit-animation: object_seven 2s infinite;
        animation: object_seven 2s infinite;
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }

    #loading #object_eight {
        -webkit-animation: object_eight 2s infinite;
        animation: object_eight 2s infinite;
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
    }

@-webkit-keyframes object_one {
    50% {
        -webkit-transform: translate(-65px, -65px);
    }
}

@keyframes object_one {
    50% {
        transform: translate(-65px, -65px);
        -webkit-transform: translate(-65px, -65px);
    }
}

@-webkit-keyframes object_two {
    50% {
        -webkit-transform: translate(0, -65px);
    }
}

@keyframes object_two {
    50% {
        transform: translate(0, -65px);
        -webkit-transform: translate(0, -65px);
    }
}

@-webkit-keyframes object_three {
    50% {
        -webkit-transform: translate(65px, -65px);
    }
}

@keyframes object_three {
    50% {
        transform: translate(65px, -65px);
        -webkit-transform: translate(65px, -65px);
    }
}

@-webkit-keyframes object_four {
    50% {
        -webkit-transform: translate(65px, 0);
    }
}

@keyframes object_four {
    50% {
        transform: translate(65px, 0);
        -webkit-transform: translate(65px, 0);
    }
}

@-webkit-keyframes object_five {
    50% {
        -webkit-transform: translate(65px, 65px);
    }
}

@keyframes object_five {
    50% {
        transform: translate(65px, 65px);
        -webkit-transform: translate(65px, 65px);
    }
}

@-webkit-keyframes object_six {
    50% {
        -webkit-transform: translate(0, 65px);
    }
}

@keyframes object_six {
    50% {
        transform: translate(0, 65px);
        -webkit-transform: translate(0, 65px);
    }
}

@-webkit-keyframes object_seven {
    50% {
        -webkit-transform: translate(-65px, 65px);
    }
}

@keyframes object_seven {
    50% {
        transform: translate(-65px, 65px);
        -webkit-transform: translate(-65px, 65px);
    }
}

@-webkit-keyframes object_eight {
    50% {
        -webkit-transform: translate(-65px, 0);
    }
}

@keyframes object_eight {
    50% {
        transform: translate(-65px, 0);
        -webkit-transform: translate(-65px, 0);
    }
}


/*drop down for nav */
.dropdown {
    background: #ffffff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    left: 0;
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 100%;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    width: 195px;
    z-index: 999;
}

.navbar-default .navbar-nav .dropdown:before {
    position: absolute;
    top: -6px;
    left: 22px;
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 8px 7px;
    border-color: transparent transparent #fff;
    box-sizing: border-box;
}

.navbar-default .navbar-nav > li.drop:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

.dropdown li a.active,
.sup-dropdown li a.active {
    color: #ff4f57;
}

.dropdown > li:hover > a,
.sup-dropdown li:hover > a {
    color: #ff4f57;
}

.dropdown li,
.sup-dropdown li {
    position: relative;
}

    .dropdown li a,
    .sup-dropdown li a {
        display: block;
        color: #666;
        margin-bottom: 2px;
        font-size: 13px;
        font-family: 'Nunito Sans', sans-serif;
        padding: 5px 10px;
        line-height: 26px;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

        .dropdown li a i {
            float: right;
            font-size: 17px;
            position: relative;
            top: -1px;
            margin: 4px 5px;
        }

.navbar-default .navbar-nav .sup-dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    border-radius: 2px;
    border-bottom: 2px solid #ff4f57;
    padding: 12px;
    width: 195px;
    background-color: #fff;
    margin-left: 10px;
    z-index: 3;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}

.navbar-default .navbar-nav li.drop .dropdown li:hover .sup-dropdown {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    z-index: 9999;
}

nav#menu span.fa.fa-bars:hover {
    color: #ff4f57;
}


/*for login banner*/
.page-header .breadcrumb-wrapper .breadcrumb {
    padding: 40px 0;
    margin: 0;
    border-top: 1px solid #999;
    position: relative;
}

    .page-header .product-title {
        font-size: 30px;
        line-height: 38px;
        font-weight: 900;
        letter-spacing: 1px;
        color: #fff;
    }

.breadcrumb-wrapper {
    text-align: center;
}

.breadcrumb {
    font-size: 14px;
    color: #ff4f57;
    border-radius: 0px;
    background: transparent;
    padding: 5px 0px;
    z-index: 1;
    align-items:center;
}

    .breadcrumb a {
        color: #fff;
    }

        .breadcrumb a:hover {
            color: #ff4f57;
        }

/*for resume form*/

.box {
    background: #fff;
    margin-bottom: 30px;
}

.box {
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.075);
}

.page-ads .styled-select {
    width: 100%;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
    color: #444;
    display: block;
}

.page-ads .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;

}


.post-header {
    padding: 10px 15px;
    background: #ddd;
    margin-bottom: 20px;
    height:50px;
}

.post-header a {
    color: #ff4f57;
}
.form-ad .checkbox label {
    margin-bottom: 0px;
}

.divider {
    padding: 10px 0px 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

    .form-group i {
        position: absolute;
        top: 20px;
        color: #888;
        left: 12px;
        font-size: 18px;
    }
