<style>
    .jobCard{
    margin:20px;}

    .view-iocn {
      position: absolute;
      bottom: 50px;
      right: 17px;
      width: 48px;
      display: block;
      background: #ff4f57;
      color: #fff;
      font-size: 20px;
      height: 48px;
      text-align: center;
      line-height: 50px;
      border-radius: 50px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    }
</style>

<div class="card jobCard" style="width: 18rem;">
  <img class=" hover-effect card-img-top" src="/img-1.jpg" alt="Card image">
   
  <div class="card-body">
    <h3 class="job-title"><a href="postJob">Graphic Designer</a></h3>
    <p class="card-text"><i class="fas fa-map-marker-alt"></i> Rawal Pindi, Pakistan</p>
      <div class="card-footer bg-transparent border-danger">
          <div class="view-iocn">
            <a href="postJob"><i style="color:white !important;" class="fas fa-arrow-right"></i></a>
          </div>
            <span><i class="fas fa-calendar-alt"></i> 4 months ago</span>
            <span><i class="far fa-clock"></i> Full Time</span>
      </div>
  </div>
</div>

 
@code {

}
