<section class="section purchase" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="section-content text-center">
            <h1 class="title-text">
             Looking for a Job
            </h1>
            <p>Join thousand of employers and earn what you deserve!</p>
            <a href="my-account.html" class="btn btn-common">Get Started Now</a>
          </div>
        </div>
      </div>
</section>

<style>
    .btn-common {
  background-color: #ff4f57;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
}
    .purchase {
    align-context:center;
      background-image: url("/bg-02.jpg");
      padding: 100px 0;
      background-attachment: absolute;
      background-position: 50% 0;
    }
    .purchase .title-text {
      font-size: 38px;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 30px;
    }
    .purchase p {
      color: #9FA7BA;
      font-size: 23px;
      letter-spacing: 1px;
      margin-bottom: 40px;
    }

</style>

@code {

}
