<style>
        h1{ color : white; font-size: 40px; font-family: 'Nunito Sans', sans-serif;}
        .cat, h2{ color : #FF6666;}
         h2{
            margin-bottom: 30px;}
</style>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
	
			<h1>
				<b>Find the job that fits your life</b>
			</h1>
			
			<h2>
				More than <strong>10,000</strong> jobs are waiting to Kickstart your career!
			</h2>

           
                  
                    <form method="post" action="">
                      <div class="row">
                          <div class="input-group mb-1">
                              <div class="input-group-prepend col-md-3 col-sm-3">
                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                                <input class="form-control" type="text" placeholder="job title / keywords / company name">
                              </div>
                              
                              <div class="input-group-prepend col-md-3 col-sm-3">
                                <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                <input class="form-control" type="text" placeholder="city / province / zip code">
                              </div>



                              <div class="dropdown col-md-3 col-sm-3">
                                  
                                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-briefcase"></i> Dropdown
                                </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button">All Categories</button>
                                    <button class="dropdown-item" type="button">Finance</button>
                                    <button class="dropdown-item" type="button">IT & Engineering</button>
                                      <button class="dropdown-item" type="button">Education/Training</button>
                                      <button class="dropdown-item" type="button">Art/Design</button>
                                      <button class="dropdown-item" type="button">Healthcare</button>
                                  </div>
                              </div>
                            
                        


                        <div class="col-md-1 col-sm-3">
                          <button type="button" class="btn btn-danger">Search</button>
                        </div>
        </div>
                      </div>
                    </form>
            <br><br>
                  <div>
                    <b class="cat">Popular Keywords : </b>
                    <button class="btn btn-secondary btn-sm" href="#">Web Design</button>
                    <button class="btn btn-secondary btn-sm" href="#">Manager</button>
                    <button class="btn btn-secondary btn-sm" href="#">Programming</button>
                  </div>
		</div>
	</div>
</div>


@code {

}
