<div class="page-login-form">
    <EditForm Model="@person" OnSubmit="FormSubmitted" class="login-form">
        <div class="form-group">
            <div class="input-icon" style="display:inline;">
                <i class="fas fa-user"></i>
                <label for="Name">Name : </label>
                <InputText id="name" @bind-Value="person.Name" class="form-control" name="email"></InputText>
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon" style="display:inline;">
                <i class="far fa-envelope"></i>
                <label for="Email">Email : </label>
                <InputText id="email" @bind-Value="person.Email" class="form-control" name="email"></InputText>
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon" style="display:inline;">
                <i class="fas fa-lock"></i>
                <label for="password">Password : </label>
                <InputText id="email" @bind-Value="person.Password" class="form-control" name="password"></InputText>
            </div>
        </div>
        
        
        <input class="btn btn-common log-btn" type="submit" value="Register" />
                      
    </EditForm>
</div>

<style>
.checkbox-item {
  display: inline-block;
  width: 100%;
}
.checkbox-item .checkbox {
  float: left;
  margin: 0;
}
.checkbox-item a {
  float: right;
}
    .log-btn {
  width: 100%;
  padding: 12px 22px;
  margin: 0px 0px 20px;
  letter-spacing: 1;
  text-transform: capitalize;
  font-size: 16px;
}
    .btn-common {
      background-color: #ff4f57;
      border: none;
      border-radius: 20px;
      text-transform: uppercase;
      overflow: hidden;
      position: relative;
    }
    .page-login-form {
  padding: 15px;
  background: #fff;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.075);
}
.page-login-form h3 {
  font-size: 18px;
  color: #444;
  line-height: 18px;
  padding: 15px 0 30px;
  text-transform: uppercase;
  text-align: center;
}
.page-login-form .login-form .form-control {
  background: #ffffff !important;
}
.page-login-form .log-btn {
  width: 100%;
  padding: 12px 22px;
  margin: 0px 0px 20px;
  letter-spacing: 1;
  text-transform: capitalize;
  font-size: 16px;
}
.login-form .input-icon i,
.cd-form .input-icon i {
  color: #444;
  opacity: 0.6;
  padding-right: 10px;
  margin-top: -3px;
}
</style>

@code {
    string status = "Form is not submitted";
    void FormSubmitted() {
        status = "Form is submitted";
    }
    Person person = new Person {
        Name = "Ali",
        Email = "ali@gmail.com",
        Password = "abc"
    };

    public class Person {
        public string Name { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
    }
}