@page "/logIn"

<div class="page-header" style="background: url(/banner1.jpg);">
        <div class="container">
          <div class="row">         
            <div class="col-md-12">
              <div class="breadcrumb-wrapper">
                <h2 class="product-title">My Account</h2>
              </div>
            </div>
          </div>
        </div>
</div>


 <div id="content" class="my-account">
     <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-6 cd-user-modal">
              <div class="my-account-form">
                <ul class="cd-switcher">
                  <li><a class="selected" >LOGIN</a></li>
                  <li><a href="#0">REGITER</a></li>
                </ul>

                <div id="cd-login" >
                    <div class="page-login-form">
                        <EditForm Model="@person" OnSubmit="FormSubmitted" class="login-form">
                            <div class="form-group">
                                <label>Username</label>
                                <InputText @bind-Value="person.UserName" class="form-control" />
                
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <InputText @bind-Value="person.Password" type="password" class="form-control" />
                            </div>
                            <button  class="btn btn-common log-btn">Login</button>
                                
                            <div class="checkbox-item">
                              <div class="checkbox">
                                <label for="rememberme" class="rememberme">
                                <input name="rememberme" id="rememberme" value="forever" type="checkbox"> Remember Me</label>
                              </div>
                              <p class="cd-form-bottom-message"><a href="#0">Lost your password?</a></p>
                            </div>
                        </EditForm>
                    </div>
                </div>
                  
                  <h2>Register</h2>
                
                <div id="cd-signup" class="is-selected">  
                    <div class="page-login-form register">
                        
                        <EditForm Model="@person" OnValidSubmit="FormSubmitted" class="login-form">
                            <div class="form-group">
                                <label>First Name</label>
                                <InputText @bind-Value="person.FName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <InputText @bind-Value="person.LName" class="form-control" />
              
                            </div>
                            <div class="form-group">
                                <label>Username</label>
                                <InputText @bind-Value="person.UserName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <InputText @bind-Value="person.Password" type="password" class="form-control" />
                            </div>
                            <button  class="btn btn-primary">Register</button>
                        <NavLink href="login" class="btn btn-link">Cancel</NavLink>
                        </EditForm>

                    </div>
                </div>




              </div>
            </div>
        </div>
     </div>
</div>

@code {
        string status   = "Form not submitted";
    void FormSubmitted() {
            status   = "Form submitted";}     

    Person person = new Person {
        FName = "XYZ",
        LName = "ABC",
        UserName = "CDF",
        Password = "123"
    };

    public class Person {
        public string FName {get; set;}
        public string LName {get; set;}
        public string UserName {get; set;}
        public string Password {get; set;}    
    }

}
