<!-- Featured Jobs Section Start -->
    <section class="featured-jobs section">
        <div class="container">
            <h2 class="section-title">
              Featured Jobs
            </h2>
            <div class="row">
                
                <JobComponent></JobComponent>
                <JobComponent></JobComponent>
                <JobComponent></JobComponent>
                <JobComponent></JobComponent>
                <JobComponent></JobComponent>
                <JobComponent></JobComponent>

            </div>
        </div>     
    </section>
    <!-- Featured Jobs Section End -->
@code {

}
