<div class="card col-md-4 col-sm-6 col-xs-12 featured-item" style="width:400px;">
    <img class=" hover-effect card-img-top" src="/img-1.jpg" alt="Card image" style="width:100%; margin-top:10px;">
    <div class="card-body item-body">
       <h3 class="job-title"><a href="postJob">Graphic Designer</a></h3>
       <div class="adderess"><i class="ti-location-pin"></i> Rawal Pindi, Pakistan</div>
       <div class="item-foot">
            <span><i class="ti-calendar"></i> 4 months ago</span>
            <span><i class="ti-time"></i> Full Time</span>
            <div class="view-iocn">
                <a href="postJob"><i class="ti-arrow-right"></i></a>
            </div>
        <div> 
    </div>
</div>
</div>
</div>

@code {

}
