
     
<footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget">
                <h3 class="block-title"><img src="/logo.png" class="img-responsive" alt="Footer Logo"></h3>
                <div class="textwidget">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis. Etiam euismod ornare elementum. Sed ex est, consectetur eget facilisis sed.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget">
                <h3 class="block-title">Quick Links</h3>
                <ul class="menu">
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">License</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget">
                <h3 class="block-title">Trending Jobs</h3>
                <ul class="menu">
                  <li><a href="#">Android Developer</a></li>
                  <li><a href="#">Senior Accountant</a></li>
                  <li><a href="#">Frontend Developer</a></li>
                  <li><a href="#">Junior Tester</a></li>
                  <li><a href="#">Project Manager</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget">
                <h3 class="block-title">Follow Us</h3>
                <div class="bottom-social-icons social-icon">  
                  <a class="twitter" href="https://twitter.com/RabiaAr16620637"><i style="color:white; !important" class="fab fa-twitter"></i></a>
                  <a class="facebook" href="https://www.facebook.com/rabia.arif.583"><i style="color:white; !important" class="fab fa-facebook-f"></i></a>                   
                  <a class="youtube" href="https://youtube.com"><i style="color:white; !important" class="fab fa-youtube"></i></a>
                  <a class="linkedin" href="https://www.linkedin.com/in/rabia-arif-8834a01b7"><i style="color:white; !important" class="fab fa-linkedin-in"></i></a>
                </div>  
                <p>Join our mailing list to stay up to date and get notices about our new releases!</p>
                <form class="subscribe-box">
                  <input type="text" placeholder="Your email">
                  <input type="submit" class="btn-system" value="Send">
                </form> 
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer area End -->
      
      <!-- Copyright Start  -->
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="site-info text-center">
               Made by Rabia <i class="far fa-laugh-wink"></i>
              </div>   
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright End -->

    </footer>
    <!-- Footer Section End -->  


<style>
    footer .block-title {
      font-size: 24px;
      letter-spacing: 1px;
      font-weight: 900;
      margin-bottom: 30px;
    }
    footer .footer-Content {
      background-color: #202020;
      padding: 60px 0;
      color: #fff;
    }
    .textwidget {
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      color: #fff;
    }
    footer .menu {
      padding-left: 0;
    }
    footer .menu li {
      padding-bottom: 10px;
    }
    footer .menu li a {
      color: #fff;
      padding: 0px;
    }
    footer .menu li a:hover {
      color: #ff4f57;
    }
    .subscribe-box {
      margin-top: 18px;
    }
    .subscribe-box input[type="text"] {
      color: #444;
      font-size: 12px;
      padding: 6px 12px;
      border: none;
      background: #fff;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -o-border-radius: 0px;
      outline: none;
    }
    .subscribe-box input[type="submit"] {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      font-size: 12px;
      background: #ff4f57;
      text-transform: uppercase;
      border: none;
      padding: 7px 16px;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -o-border-radius: 0px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
    }
    .bottom-social-icons {
      margin-bottom: 10px;
    }
    .bottom-social-icons a {
      color: #fff;
      text-align: center;
      width: 42px;
      line-height: 44px;
      margin-right: 5px;
      border-radius: 50px;
      background: #ff4f57;
      display: inline-block;
      height: 42px;
      position: relative;
      overflow: hidden;
    }
    #copyright {
      background-color: #202020;
      border-top: 1px solid #393939;
      padding: 20px 0 10px;
      color: #fff;
    }
    #copyright p {
      line-height: 34px;
    }
    #copyright p a {
      color: #fff;
    }
    #copyright p a:hover {
      color: #ff4f57;
    }
    .social-icon .facebook:hover {
      background-color: #3b5998;
    }
    .social-icon .twitter:hover {
      background-color: #55acee;
    }
    .social-icon .dribble:hover {
      background-color: #D34836;
    }
    .social-icon .flickr:hover {
      background-color: #ff0084;
    }
    .social-icon .youtube:hover {
      background-color: #CC181E;
    }
    .social-icon .google-plus:hover {
      background-color: #dd4b39;
    }
    .social-icon .linkedin:hover {
      background-color: #007bb5;
    }
    footer ul li a {
      padding: 0px;
    }
    footer {
      padding: 0px;
    }

</style>

 
@code {
string value;

    EventConsole console;

    void OnChange(string value, string name)
    {
        console.Log($"{name} value changed to {value}");
    }
}