@inherits LayoutComponentBase


<div>
    <header>
        <NavMenu />
    </header>
    
    <div>
        <div>
            @Body
        </div>
    </div>

    <footer>
        <FooterComponent/>
    </footer>

</div>
