@page "/"

    <div class=" SearchContainer">
         <SearchContainer></SearchContainer>
    </div>
<br>
    
    <FeaturedJobs/>
<br>
    <PurchaseSection/>
    
<style>
        .SearchContainer {
            background-image: url("/bg-intro-1.jpg");
            background-size: 100% 100%;

            padding:70px;
        }
</style>
@code {

}
